@{
    ViewData["Title"] = "Todo Management";
}

<div class="text-center">
    <h1 class="display-4">Todo Management</h1>
    <p>This is Take-Home test by <a href='https://www.linkedin.com/in/namvari/'>Mohammad Namvari</a>.</p>
</div>
